DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=
DISCORD_GUILD_ID=
DISCORD_CALLBACK_URL=https://unified-apply.onrender.com/auth/discord/callback
SESSION_SECRET=
PORT=3001
MONGO_URI=
BOT_TOKEN=
APP_REVIEWER_ROLE_ID=
PARTICIPANT_ROLE_ID=
OWNER_ROLE_ID=
CURRENT_SEASON=